body{
	font-family: sans-serif;
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.container{
	width: 100%;
	max-width: auto;
	height: 692px;

	background-color: #24204A;
}

/*HEADER*/
.header{
	display: flex;
	color: #fff;
}

.header__logo{
	margin-left: 115px;
	padding-top: 30px;

	font-size: 18px;
	font-style: normal;
	font-weight: 700;
}

/*nav*/

.nav{
	justify-content: space-between;
	position: relative;
	margin-left: 220px;
	display: flex;
	padding-top: 30px;

	opacity: 0.6;

}

.main__menu{
	margin-left: 80px;
}

.nav__link{
	text-decoration: none;
	color: #fff;
	opacity: 0.6;
	padding-right: 50px;

	transition: 0.2s linear;
} 

.contact{
	background-color: transparent;
	border: none;

	color: #fff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
}



.header__btn{
	position:absolute;
	top: 16px;
	left: 1280px;
	padding: 12px 20px;
	border: 2px solid #8E88C1;


	color: #fff;
	background: #4B4864;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 8px;
}



.header:after{
	position: absolute;
	top: 70px;
	left: 120px;

	content: "";
	display: block;
	width: 85%;
	height: 1px;
	margin: 30px auto;

	background-color: #8E88C1;

}

/*intro*/

.intro{
	margin: 90px 0 0 110px;
	width: 40%;
	color: #fff;
}

.intro__title{
	display: inline-block;
	padding: 12px 25px;
	margin: 15px 0 40px 0;

	color: #e5e5e5;
	background: #4B4864;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 8px;
	letter-spacing: 0.05em;
}

.intro__suptitle{
	font-size: 35px;
	font-weight: 700;

}

.intro__text{
	padding-top: 30px;
	padding-bottom: 70px;

	line-height: 1.23em;
	opacity: 0.6;
}

.intro__btn{
	padding: 20px 45px;

	color: #e5e5e5;
	background: #3F50E7;;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 8px;
	letter-spacing: 0.05em;
	
	transition: .2s linear;
}

.intro__btn__last{
	position: absolute;
	width: 200px;
	height: 56px;
	left: 123px;
	top: 535px;

	border: 1px solid #30345A;
	box-sizing: border-box;
	filter: drop-shadow(0px 6px 20px rgba(0, 
		255, 224, 0.2));
	border-radius: 8px;
	z-index: -1;
}

.vector__1{
	position: absolute;
	width: 470px;
	height: 506px;
	left: 940px;
	top: 143px;

	background: #3F3B62;
	border-radius: 8px;
}

.rectangle__1{
	position: absolute;
	width: 375px;
	height: 411px;
	left: 990px;
	top: 190px;

	background: #827EAC;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 
		0.6);
	border-radius: 8px;
}

.lamp{
	position: absolute;
	top: 210px;
	left: 995px;
	
	width: 360px;
	height: 360px;
	filter: drop-shadow(10px 20px
		50px rgba(0, 0, 0, 0.5));
}

/*section*/

.section{
	background-color: #071341;
	padding: 50px 100px;
}

.section--warn{
	background-color: #24204A;
}

.section--map{
	padding: 0;
}

.section--footer{
	padding-bottom: 20px;
}

.section__header{
	display: flex;
	margin-left: 35px;
}

/*stat*/

.stat__items{
	padding: 0 90px;
	position: relative;
}

.stat__info{
	position: absolute;
	top: 10px;
	left: 165px;
}

.stat__count{
	font-weight: 700;
	font-size: 15px;
	color: #fff;
}

.stat__text{
	color: #fff;
	opacity: 0.6;
	padding-top: 5px;
	font-size: 14px;
}

.stat__photo{
	width: 56px;
	height: 56px;

	border-radius: 8px;
}

.stat__photo--first{
	background: #FF6853;
}

.stat__photo--sec{
	background: #FF537C;;
}

.stat__photo--third{
	background: #80D2C4;;
}
.stat__photo--fourth{
	background: #3F50E7;;
}
.stat__photo--fifth{
	background: #95CB7C;;
}

.stat__photo__item i{
	position: relative;
	top: 30%;
	left: 30%;

	font-size: 20px;
	color: #fff;
	width: 20px;

}

.stat__photo__item i{
	transform: scale(1.2, 1.2);
}

.header__after{
	position: absolute;
	width: 1170px;
	height: 1px;
	left: 170px;
	top: 848px;

	background: #8E88C1;
}

.main__content{
	text-align: center;
	margin-top: 90px;
	color: #fff;
}

.section__title{
	font-size: 38px;
	font-weight: 700;
	line-height: 1.1em;
}

.section__suptitle{
	padding-top: 20px;

	opacity: 0.6;
	font-size: 14px;
}

/*card__first*/

.card__first{
	position: absolute;
	top: 30%;
	left: 50px;

	display: block;
}

.card__icon{
	padding-left: 35px;

	font-size: 35px;
	color: #fff;
	opacity: 0.7;
}

.card__text{
	padding-top: 15px;

	color: #fff;
	opacity: 0.6;
	font-weight: 500;

	transition: .3s linear;
}

.card__btn{
	opacity: 0;
	position: absolute;
	top: 90px;
	left: -21px	;
	padding: 10px 30px;

	color: #e5e5e5;
	background: #3F50E7;;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 8px;
	letter-spacing: 0.05em;

	box-shadow: 0px 6px 20px rgba(0, 255, 
		224, 0.2);
	border-radius: 8px;
	transition: .2s linear;
}

/*card*/

.card{
	margin: 80px -15px 100px 0;
	display: flex;
	justify-content: space-between;
}

.card__item{
	width: 20%;
	padding: 0 15px;
}

.card__inner{
	position: relative;
}


.card__img{
	width: 209px;
	height: 208px;

	border: 2px solid #8E88C1;
	box-sizing: border-box;
	border-radius: 8px;
	transition: tranform .3s linear;
}

.card__img img{
	opacity: 0;
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity .1s linear;
}

/*warn*/

.warn__text{
	padding: 0 90px;

	text-align: center;
	font-size: 35px;
	color: #fff;
	font-weight: 700;
}

/*map*/

.map__img{
	width: 100%;
}



/*quiz*/

.quiz{
	padding: 0 36px;
	position: absolute;
	width: 449px;
	height: 380px;
	left: 836px;
	top: 1710px;

	background: #4B4864;
	border-radius: 8px;
}

.quiz__title{
	padding-top: 27px;

	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.quiz__text{
	padding-top: 20px;

	color: #8E88C1;
	font-size: 14px;
}

.quiz__input{
	display: inline-block;
	margin-top: 30px;
}

.subscribe__input{
	margin: 8px 0;
	width: 100%;
	padding: 12px 0;
	border-radius: 8px;
	border: none;

	
	background: #646081;
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	letter-spacing: 0.05em;
	font-weight: italic;
}

.subscribe__input::placeholder{
	color: #8E88C1;
}


.quiz__btn{
	margin-top: 10px;	
	margin-left: 245px;

	padding: 10px 30px;
	background-color: #3F50E7;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 8px;
	letter-spacing: 0.05em;
	border-radius: 8px;
	border: none;

	cursor: pointer;
}

.quiz__btn:hover{
	transform: translat
}

/*footer*/

.footer__inner{
	display: flex;
	margin: 0 164px 10px 300px;
	justify-content: space-between;
}

.footer__col--third{
	margin-right: -100px;
}

.footer__logo{
	padding-bottom: 25px;

	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.footer__text{
	padding-bottom: 10px;

	color: #fff;
	font-size: 14px;
	opacity: 0.8;
}

.social__icon{
	display: flex;
	justify-content: space-between;
}

.social__net{
	padding-right: 20px;

	color: #fff;
	font-size: 20px;

	transition: .3s linear;

}

.copyright{
	width: 100%;
	padding-top: 40px;

	font-size: 12px;
	text-align: center;
	color: #111;
}